/* Стилі для STUDIO*/

/* колір основного тексту  #434455 */
/* колір другорядного тексту #2E2F42 */
/* білий текст #FFFFFF */
/* акцент #4D5AE5 */
/* колір фону макету там де контакти #FFFFFF */
/* колір фону #F4F4FD */
/* колір фону там де кнопка/футер #2E2F42 */
/* другорядний колір фону макету/фотокартки #F4F4FD */
/* лого #F4F4FD */
/* лого #4D5AE5 */
/* лого #2E2F42 */
/* text-footer*/
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --text-white-color: #FFFFFF;
    --secondary-fond-color: #2E2F42;
    --secondary-color-photocard: #F4F4FD;
    --text-color-footer: #E7E9FC;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

* {box-sizing: border-box;
}




.list {
    padding: 0; 
    margin: 0;  
    list-style: none;
   }



p,
h1,
h2,
h3,
h4 {
 margin-top: 0;
 margin-bottom: 0;
}


.page-header {
    width: 100%;
    max-width: 1158px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin: 0 auto;
}

.main-header {
    display: flex;
    align-items: center;
}





.container {
   margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
     }
  

    


body {
font-size: 16px;   
background-color: var(--text-white-color);
color: var(--secondary-fond-color);
font-family: Roboto, sans-serif;
}

/* logo */

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-text-color); 
    text-decoration: none; 
    margin-right: 76px;
    }


/* nav-link*/

.nav-link{

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-fond-color);
    text-decoration: none;
    margin-right: 40px;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    font-size: 16px;
  }




 .site-nav .item{
    margin-left: 76px;
 }

 .site-nav {         /* в ряд*/
    display: flex;                        
}


/*.site-nav .item:last-child { 
    margin-right: 0;
    } */

 .site-nav li {
     margin-right: 40px;  /* відстань між ними*/
        }

  /* .site-nav .item:not(:last-child) {
    margin-right: 40px; }   */
     
  
   .site-nav  .item + .item {
margin-left: 40px;
   }



   .contact-link .item + .item {
    margin-left: 40px;
   }


   .photo-card{
    display: flex;
   }

   .work-card{
   display: flex;
    }

    












    .nav-link:hover{
     color:#404BBF;
       }
    .nav-link:focus{
        color:#404BBF;

    }  

/* contact-link */

.contact-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: auto;
   }



   .contact-link:hover{
   color: #404BBF;
   }
 
   /* Hero */  

   .hero-title {
    margin-top: 0; 
    margin-bottom: 48;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.7; 
    letter-spacing: 0.02em;
    color: var(--text-white-color);
    padding-top: 152px;
    max-width: 496px;
    margin: 0 auto;
    } 

   .hero {
   margin-top: 0;
   padding-top: 188px;
   padding-bottom: 188px;

    text-align: center;
    background-color:#2E2F42; 
   }


   .business{
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
   }





      /* Button */
   
    .button.primary {
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    color: var(--text-white-color);
    background-color: var(--accent-color);
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    border: 1px solid transparent;
    margin-bottom: 188px;
    margin-top: 48px;
    
    }
    .buttons{
        display: flex;
    } 




    
.poitner{
    cursor: pointer;
}


     /* Section */

       

    .strategy{
        display: flex;
        gap: 24px;
    }

.right{
    width: 264px;
}

.advantages{
    padding-top: 120px;
    padding-bottom: 120px;
}


.we-doing{
    padding-bottom: 120px;
}


.section-team{
    top: 1548px;
    background:var(--secondary-color-photocard);
    padding-top: 120px;
    padding-bottom: 120px;
     }







    .visually-hidden{

    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px

    }

.section{
padding-top: 120px;
padding-bottom: 120px;
}
  
.section.no-padding{
    padding-top: 0;
    padding-bottom: 0;
}

    .section-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
     color: var(--primary-text-color);   
    }

    .section-title{
        margin-top: 0;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--secondary-fond-color)
        
    }

      /* Work-list*/ 

    .work-list{
        margin-top: 0;
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--secondary-fond-color);

         }
        

     .section-personnel{
        background-color: #FFFFFF;
        flex-basis: calc((100% - 72px) / 4 );
     }


      .letter-staff{
        margin-top: 0;
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--secondary-fond-color);
                }
                
        .specialty-section{
        margin-top: 0;
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
             }






    .photo-card {
        margin-bottom: 120px;
                }

          /* Footer */

    .footer {
     background-color: #2E2F42;
     top: 2280px;
     padding-top: 100px;
     padding-bottom: 100px;
             }

    .accent{
                color: #4D5AE5;  
              }

    .logo-footer{
        margin-top: 0;
                color: #F4F4FD;
            }

    .footer-text {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
        height: 72px;
        box-sizing: content-box;  
                color:var(--text-color-footer);
                  } 

    .pecture-bottom  {
        padding-bottom: 32px;
        padding-top: 32px;
        border: #E7E9FC;
        border-right: 1px;
        border-bottom: 1px;
        border-left: 1px ;
    }           
                

 










 



               /* Стилі для portfolio */

/* колір основного тексту #2E2F42 */
/* колір другорядного тексту #434455 */
/* колір фону макету #FFFFFF */
/* footer #2E2F42 */  
/* білий текст #E7E9FC */
/* logo #F4F4FD */
/* кнопка активна #404BBF */
/* неактивна кнопка #4D5AE5 */

:root{
    --main-color-text: #2E2F42;
    --color-secondary-text: #434455;
    --color-maket: #FFFFFF;
    --color-footer: #2E2F42;
}


.link-button{
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #F4F4FD;
color: #4D5AE5;
border-radius: 4px;
padding: 12px 24px;
display: flex;
border: 1px solid #e7e9fc; 

}

.portfolio{
    padding-bottom: 120px;
    padding-top: 96px;
}






 /*.test-container{
    width: 1158px;
    padding-left: 24px;
    padding-right: 24px;
margin-left: auto;
margin-right: auto;

} */


.flex-container {
    display: flex;
    padding: 0;
/*gap: 48px 24px;*/
row-gap: 48px;
column-gap: 24px;
flex-wrap: wrap;
margin-top: 84px;
margin-bottom: 120px;
}


 .flex-element{
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px ;
    color: #E7E9FC;

flex-basis: calc((100% - 2 * 24px) / 3 );
} 




.link-button:hover {
   color: #FFFFFF;
   background-color:#404BBF;
   border-color: transparent;
}
.link-button:focus {
    color: #F4F4FD;
    background-color:  #404BBF;
}


 
.poitner{
    cursor: pointer;
}

.link{
    text-decoration: none;
}


  .center-button{
    margin-left: 427px;
    margin: 0 auto;
    
}

.container-buttons{
    width: 586px;
    margin: 0 auto;
}


















































